apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: geist-operator-manager-role
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  - secrets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps
  resources:
  - deployments
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - config.geist-iot.com
  resources:
  - geistconnectors
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - config.geist-iot.com
  resources:
  - geistconnectors/finalizers
  verbs:
  - update
- apiGroups:
  - config.geist-iot.com
  resources:
  - geistconnectors/status
  verbs:
  - get
  - patch
  - update
