image:
  repository: doteich/geist-operator
  tag: latest
  pullPolicy: IfNotPresent

replicaCount: 1

resources:
  limits:
    cpu: 500m
    memory: 128Mi
  requests:
    cpu: 10m
    memory: 64Mi

securityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - ALL
  readOnlyRootFilesystem: true

runAsNonRoot: true

seccompProfile:
  type: RuntimeDefault

operator:
  crds:
    enabled: true
redpanda:
  enabled: true
